{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{#Codec.DocLines}}
/// {{{.}}}
{{/Codec.DocLines}}
{{#Deprecated}}
@available(*, deprecated)
{{/Deprecated}}
public enum {{Codec.Name}}: Codable, Equatable, Sendable {
  {{#UniqueNumberValues}}
  {{#Codec.DocLines}}
  /// {{{.}}}
  {{/Codec.DocLines}}
  {{#Deprecated}}
  @available(*, deprecated)
  {{/Deprecated}}
  case {{Codec.CaseName}}
  {{/UniqueNumberValues}}
  /// Encodes an unknown integer value.
  ///
  /// The most common cause for an unknown values is for the service to send
  /// a value unknown to the library. We recommend you update your library to
  /// the latest version.
  case {{Codec.UnknownIntName}}(Int)
  /// Encodes an unknown string value.
  ///
  /// The most common cause for an unknown values is for the service to send
  /// a value unknown to the library. We recommend you update your library to
  /// the latest version.
  case {{Codec.UnknownStringName}}(String)

  public init() {
    self = .{{Codec.DefaultCaseName}}
  }

  /// Returns the integer value associated with the enumeration.
  ///
  /// If the enumeration was initialized with an unknown string value, this returns `nil`.
  public var intValue: Int? {
    switch self {
    {{#UniqueNumberValues}}
    case .{{Codec.CaseName}}: return {{Number}}
    {{/UniqueNumberValues}}
    case .{{Codec.UnknownIntName}}(let v): return v
    case .{{Codec.UnknownStringName}}: return nil
    }
  }

  /// Returns the string value (or name) associated with the enumeration.
  ///
  /// If the enumeration was initialized with an unknown integer value, this returns `nil`.
  public var stringValue: Swift.String? {
    switch self {
    {{#UniqueNumberValues}}
    case .{{Codec.CaseName}}: return "{{Name}}"
    {{/UniqueNumberValues}}
    case .{{Codec.UnknownIntName}}: return nil
    case .{{Codec.UnknownStringName}}(let v): return v
    }
  }

  /// Initialize from a string value.
  ///
  /// If the value is unknown, this initializes to [`{{Codec.UnknownStringName}}`](doc:{{Codec.Name}}/{{Codec.UnknownStringName}}(_:)).
  public init(stringValue: Swift.String) {
    switch stringValue {
    {{#Values}}
    case "{{Name}}": self = .{{Codec.CaseName}}
    {{/Values}}
    default: self = .{{Codec.UnknownStringName}}(stringValue)
    }
  }

  /// Initialize from an integer value.
  ///
  /// If the value is unknown, this initializes to [`{{Codec.UnknownIntName}}`](doc:{{Codec.Name}}/{{Codec.UnknownIntName}}(_:)).
  public init(intValue: Int) {
    switch intValue {
    {{#UniqueNumberValues}}
    case {{Number}}: self = .{{Codec.CaseName}}
    {{/UniqueNumberValues}}
    default: self = .{{Codec.UnknownIntName}}(intValue)
    }
  }

  public init(from decoder: Decoder) throws {
    let container = try decoder.singleValueContainer()
    if let v = try? container.decode(Int.self) {
      self.init(intValue: v)
      return
    }
    if let s = try? container.decode(String.self) {
      if let v = Int(s) {
        self.init(intValue: v)
      } else {
        self.init(stringValue: s)
      }
      return
    }
    throw DecodingError.dataCorruptedError(
      in: container, debugDescription: "Expected enum value, must be integer or string.")
  }

  public func encode(to encoder: Encoder) throws {
    var container = encoder.singleValueContainer()
    switch self {
    {{#UniqueNumberValues}}
    case .{{Codec.CaseName}}: return try container.encode({{Number}})
    {{/UniqueNumberValues}}
    case .{{Codec.UnknownIntName}}(let v): return try container.encode(v)
    case .{{Codec.UnknownStringName}}(let v): return try container.encode(v)
    }
  }
}
